pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4

Flask==3.0.3
flask-cors>=4.0.0

google-auth==2.34.0
google-auth-oauthlib==1.2.1
google-api-python-client==2.146.0
requests==2.32.3

transformers==4.43.4
torch>=2.3.0
sentence-transformers==3.0.1
langchain==0.2.14
langchain-chroma==0.1.2
langchain-huggingface==0.0.3
chromadb==0.5.5

ollama==0.3.3
edge-tts==6.1.19